<% if notice %>
	<div class="alert alert-success">
		<span style="font-weight:bold"> <%= notice %> </span>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-error">
		<span style="font-weight:bold"> <%= alert %> </span>
	</div>
<% end %>